<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>breakage_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,154},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{77,21}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{77,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{77,21}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{77,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,227},{73,29}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{73,29}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,227},{73,29}}</string>
                <key>offset</key>
                <string>{-5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{73,29}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,248},{71,33}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{71,33}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,248},{71,33}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{71,33}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,205},{67,41}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,60},{67,41}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,205},{67,41}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,60},{67,41}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,142},{61,43}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,90},{61,43}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,142},{61,43}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,90},{61,43}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,79},{61,37}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,124},{61,37}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,79},{61,37}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,124},{61,37}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,33}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,145},{81,33}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,33}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,145},{81,33}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,233},{71,39}}</string>
                <key>offset</key>
                <string>{-10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,177},{71,39}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,233},{71,39}}</string>
                <key>offset</key>
                <string>{-10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,177},{71,39}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>breakage_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,25},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>platForm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{75,21}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>platForm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,179},{75,21}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>platForm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,164},{75,21}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>platForm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,158},{75,21}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>platForm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,154},{75,21}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{75,57}}</string>
                <key>offset</key>
                <string>{-3,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,57}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,25},{75,55}}</string>
                <key>offset</key>
                <string>{-3,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,55}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{75,53}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,53}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{75,51}}</string>
                <key>offset</key>
                <string>{-3,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,51}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{75,47}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,47}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{75,45}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,45}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,49},{75,43}}</string>
                <key>offset</key>
                <string>{-3,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,43}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,51},{75,39}}</string>
                <key>offset</key>
                <string>{-3,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,39}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{75,37}}</string>
                <key>offset</key>
                <string>{-3,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,37}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,61},{75,35}}</string>
                <key>offset</key>
                <string>{-3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,35}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,131},{75,31}}</string>
                <key>offset</key>
                <string>{-3,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,125},{75,31}}</string>
                <key>offset</key>
                <string>{-3,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{75,31}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,125},{75,27}}</string>
                <key>offset</key>
                <string>{-3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{75,27}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,55},{75,35}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{75,35}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,55},{75,35}}</string>
                <key>offset</key>
                <string>{-3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{75,35}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{75,33}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,33}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,117},{75,31}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,127},{75,25}}</string>
                <key>offset</key>
                <string>{-3,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{75,25}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,223},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,98},{75,31}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,200},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,94},{75,31}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,225},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,210},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,92},{75,31}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,204},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,200},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,92},{75,31}}</string>
                <key>offset</key>
                <string>{-3,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{75,31}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,177},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{75,27}}</string>
                <key>offset</key>
                <string>{-3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{75,27}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,202},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,187},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,82},{75,33}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{75,33}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,150},{75,27}}</string>
                <key>offset</key>
                <string>{-3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{75,27}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,181},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
            <key>worm_10039.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,177},{75,21}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{75,21}}</string>
                <key>sourceSize</key>
                <string>{91,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>allPlatForms.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bde4e782ae2a6faf489b45e51774aa9$</string>
            <key>textureFileName</key>
            <string>allPlatForms.png</string>
        </dict>
    </dict>
</plist>
